.controls {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}
.controls .md-button {
  position: relative;
  float: left;
  margin: 0 16px 0 0;
}
@media screen and (max-width: 599px) {
  .controls .md-button {
    width: 100%;
    margin: 0 0 16px 0;
  }
  .controls .md-button:last-child {
    margin-bottom: 0;
  }
}
