html,
body {
  overflow: hidden;
  height: 100%;
}
.main {
  position: relative;
  height: 100%;
}
.main-auth {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-auth-container {
  margin: auto;
  overflow: hidden;
  min-width: 320px;
}
.main-auth-container md-input-container:last-child {
  margin-bottom: 0 !important;
}
.main-auth-container md-card-content {
  padding-bottom: 0 !important;
}
.main-toolbar {
  z-index: 2;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  height: 64px !important;
}
.main-toolbar .md-toolbar-tools {
  height: 64px !important;
  max-height: 64px !important;
}
.main-toolbar-btn {
  margin-right: 24px !important;
  display: none;
}
.main-nav {
  z-index: 1;
  position: absolute;
  width: 240px;
  top: 64px;
  left: 0;
  bottom: 0;
  background-color: #E8EAF6;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  overflow-x: hidden;
  overflow-y: visible;
  transition-property: left, width;
  transition-duration: 0.2s, 0.2s;
}
.main-nav-layout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.48);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0s 0.4s;
}
.main-nav md-list {
  width: 240px;
}
.main-nav md-list-item.current {
  background-color: #fafafa;
}
.main-nav md-list-item.current:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  right: -5px;
  background-color: #fafafa;
}
.main-nav .md-ic {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
.main-nav md-list-item.md-2-line,
.main-nav md-list-item.md-2-line:before,
.main-nav .md-no-style,
.main-nav .md-no-style:before {
  min-height: 48px !important;
}
.main-body {
  z-index: 0;
  position: absolute;
  top: 64px;
  left: 240px;
  right: 0;
  bottom: 0;
  padding: 15px;
  transition-property: left;
  transition-duration: 0.2s;
  overflow-y: scroll;
}
@media screen and (max-width: 959px) {
  .main-toolbar-btn {
    display: inline-block;
  }
  .main-nav {
    width: 240px !important;
    left: -240px;
  }
  .main-nav.opened {
    width: 240px;
    left: 0;
  }
  .main-nav-layout.opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s, visibility 0s;
  }
  .main-nav md-list-item.current:after {
    width: 0;
  }
  .main-body {
    left: 0 !important;
  }
}
@media screen and (max-width: 1279px) {
  .main-nav {
    width: 56px;
  }
  .main-body {
    left: 56px;
  }
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
      background-color: rgb(181, 63, 63)!important;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: rgb(181, 63, 63);
}md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: rgb(181, 63, 63);
}

.main-auth-container md-tabs-canvas {
      background-color:  rgb(181, 63, 63)!important;
}
.main-auth-container md-tabs .md-tab.md-active{
  color: #fff;
}

.main-auth-container md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}


md-card-title > md-card-title-media > div{
  background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
